* {
    margin: 0;
}

body {
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-content: center;
}

#respuesta,
#contador {
    color: white;
}

.cont-form {
    background: rgb(157, 86, 223);
    background: linear-gradient(
        0deg,
        rgba(157, 86, 223, 1) 0%,
        rgba(138, 43, 226, 1) 100%
    );
    border-radius: 10px;
    box-shadow: 10px 10px 10px;

    width: 80%;
    height: 80vh;
    margin-top: 10vh;
}
