<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title></title>
        <link rel="stylesheet" href="../../css/style_register.css" />
    </head>
    <body>
        <div class="cont-form">
            <form action="" method="post" id="form-register">
                <input type="email" name="email" id="" placeholder="email..." />
                <input
                    type="text"
                    name="nombre"
                    autocomplete="off"
                    id=""
                    placeholder="nombre..." />
                <input
                    type="password"
                    name="contraseña"
                    autocomplete="off"
                    id=""
                    placeholder="contraseña..." />
                <input
                    type="password"
                    name="contraseña2"
                    autocomplete="off"
                    id=""
                    placeholder="verificar contraseña..." />
                <input type="submit" name="enviar" value="register" />
            </form>
            <div class="link">
                <a href="../login/login.php">login</a>
            </div>
        </div>
        <div id="respuesta"></div>
        <div id="contador"></div>
        <script src="../../js/form-register.js"></script>
    </body>
</html>
